<section class="p-6 bg-gray-50 pt-32">
    <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8">
        <!-- Main Content -->
        <div class="lg:col-span-2 bg-white shadow-lg rounded-xl p-8">
            <div class="space-y-6">
                <!-- Job Header -->
                <div class="flex gap-8 items-start">
                    <img src="<%= data.companyImage ? data.companyImage : '/Images/DefaultCompany.png' %>"
                        alt="Company Logo" class="h-12 w-12 mt-1 border-custom rounded-xl border sm:h-28 sm:w-28">

                    <div class="border-b flex-1">
                        <div class="flex items-center justify-between">
                            <h4 class="text-xl font-bold text-gray-800">
                                <%= data.title %>
                            </h4>
                            <% if (data.minSalary || data.maxSalary) { %>
                                <span class="flex items-center text-xl font-bold">
                                    <% if (data.minSalary) { %>
                                        <%= data.minSalary %>
                                            <% if (data.minSalary) { %><i class="fa-solid fa-manat-sign mx-1"></i>
                                                <% } %>
                                                    <% } %>
                                                        <% if (data.maxSalary) { %> - <%= data.maxSalary %>
                                                                <i class="fa-solid fa-manat-sign ml-1"></i>
                                                                <% } %>
                                </span>
                                <% } else { %>
                                    <span class="text-sm font-medium text-gray-500">Razılaşma yolu ilə</span>
                                    <% } %>
                        </div>
                        <div class="text-base flex items-center text-gray-600 mt-6 space-x-4">
                            <!-- Location Field -->
                            <span class="flex items-center">
                                <i class="fa-solid fa-location-dot mr-2 text-gray-500"></i>
                                <%= data.location %>
                            </span>

                            <span class="flex items-center">
                                <i class="fa-solid fa-building mr-2 text-gray-500"></i>
                                <%= data.companyName %>
                            </span>
                        </div>
                        <div class="text-base flex items-center text-gray-600 mt-3 mb-1 space-x-4">
                            <span class="flex items-center">
                                <i class="fa-solid fa-school mr-2 text-gray-500"></i>
                                <%= data.location %>
                            </span>

                            <span class="flex items-center">
                                <i class="fa-solid fa-business-time mr-2 text-gray-500"></i>
                                <%= data.companyName %>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="default-html">
                    <h4 class="text-lg font-bold text-gray-800">Vakansiyanın təsviri:</h4>
                    <p class="text-gray-700 mt-4 ml-4">
                        <%- data.description %>
                    </p>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <aside class="space-y-8">
            <!-- Apply Button -->
            <div class="bg-white shadow-md rounded-xl p-6 text-center hover:shadow-lg transition-shadow duration-200">
                <a href="#"
                    class="block filled-button-color hover:bg-orange-700 text-white font-medium py-3 px-6 rounded-lg">
                    Apply For Job
                </a>
            </div>

            <!-- Company Info -->
            <div class="bg-white shadow-lg rounded-xl p-6 max-w-3xl mx-auto">
                <!-- Şirket Bilgisi Başlangıç -->
                <div class="flex items-center space-x-4 border-b pb-6 mb-6 border-gray-200">
                    <img src="<%= data.companyImage ? data.companyImage : '/Images/DefaultCompany.png' %>"
                        alt="Company Logo" class="h-14 w-14 border-custom rounded-xl border shadow-sm">
                    <div>
                        <h5 class="text-xl font-bold text-gray-800 hover:text-blue-600 transition duration-200">
                            <%= data.companyName %>
                        </h5>
                        <a href="#" class="text-blue-500 text-sm hover:underline mt-1 inline-block">Şirkətin bütün
                            vakansiyaları</a>
                    </div>
                </div>

                <!-- Liste Başlangıç -->
                <div>
                    <ul class="space-y-4 text-gray-800">
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Kategoriya:</span>
                            <span class="text-gray-700 font-medium">
                                <%= data.categoryId %>
                            </span>
                        </li>
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Telefon:</span>
                            <span class="text-gray-700 font-medium">
                                <%= data.phone %>
                            </span>
                        </li>
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Email:</span>
                            <span class="text-gray-700 font-medium">
                                <%= data.email %>
                            </span>
                        </li>
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Şəhər:</span>
                            <span class="text-gray-700 font-medium">
                                <%= data.location %>
                            </span>
                        </li>
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Yaş:</span>
                            <span class="text-gray-700 font-medium">
                                <%= data.minAge %>-<%= data.maxAge %> arası
                            </span>
                        </li>
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Əlaqədar şəxs:</span>
                            <span class="text-gray-700 font-medium">
                                <%= data.userName %>
                            </span>
                        </li>
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Təhsil:</span>
                            <span class="text-gray-700 font-medium">
                                <%= data.educationId %>
                            </span>
                        </li>
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Təcrübə:</span>
                            <span class="text-gray-700 font-medium">
                                <%= data.experienceId %>
                            </span>
                        </li>
                        <li class="flex items-center justify-between border-b pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Tarix:</span>
                            <span class="text-gray-700 font-medium">
                                <%= new Date(data.postedAt).toLocaleString('az-AZ', { day: '2-digit' , month: '2-digit'
                                    , year: 'numeric' , hour: '2-digit' , minute: '2-digit' , hour12: false }) %>
                            </span>
                        </li>
                        <li class="flex items-center justify-between pb-3 border-gray-200">
                            <span class="font-semibold text-gray-600">Bitiş Tarixi:</span>
                            <span class="text-gray-700 font-medium">
                                <%= new Date(new Date(data.postedAt).setDate(new Date(data.postedAt).getDate() +
                                    30)).toLocaleString('az-AZ', { day: '2-digit' , month: '2-digit' , year: 'numeric' ,
                                    hour: '2-digit' , minute: '2-digit' , hour12: false }) %>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- Liste Bitişi -->
            </div>

        </aside>
    </div>
</section>