<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-16 mt-24">

    <!-- Meta Info -->
    <div class="flex flex-wrap justify-center text-sm text-gray-500 mb-6 gap-4">
        <span class="text-base">
            Zhala Azimle  <!-- Author Name -->
        </span>

        <span class="mx-2">|</span> <!-- Pipe separator with margin -->

        <span><%= new Date(blog.createdAt).toLocaleDateString() %></span>  <!-- Date formatted -->

        <span class="mx-2">|</span> <!-- Pipe separator with margin -->

        <span class="text-base"><%= Math.ceil(blog.description.split(' ').length / 200) %> min read</span>  <!-- Estimated read time -->
    </div>


    <!-- Image -->
    <div class="mb-8">
        <img class="w-full rounded-lg object-cover" src="<%= blog.imageUrl %>" alt="Blog Illustration" />  <!-- Blog Image -->
    </div>

    <!-- Article Title -->
    <h2 class="text-xl sm:text-2xl font-bold text-center mb-2"><%= blog.name %></h2>  <!-- Blog Title -->

    <!-- Short Description with Raw HTML rendering -->
    <p class="text-center text-gray-600 mb-8"><%- blog.description %></p>  <!-- Short Description -->

</div>
